/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.desk__search-result-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}


.desk__search-result {
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid white;
    min-width: 200px;
}

.desk__search-result-title {
    font-weight: bold;
}

.desk__autocomplete-search-box-container {
    width: 80%;
    margin: auto;
}

.desk__search-box-chip-container {
    flex-grow: 0;
}

.desk__autocomplete-search-box-combo {
    border: 1px solid white;
    width: 100%;
    display: flex;
}

.desk__search-box-container-input {
    flex-grow: 1;
}

.desk__suggestion-item-selected {

}